.work-track-main-container {
    .amap-info-content {
        // box-shadow: 2px 2px 8px #616161;
        border-radius: 5px;
        padding: 0;
    }
    .amap-info-close{
        top: 10px;
        right: 10px !important;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-decoration:none;
    }
    .amapplus-window-content{
        padding: 0;
        & > h3{
            border-bottom: 1px solid #e0e0e0;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
            margin-bottom: 5px;
        }
        & .content {
            padding: 8px 5px 15px;
            & > p{
                font-size: 14px;
                padding: 2px 10px;
                color: #666;
                min-width: 120px;
                margin: 0;
            }
        }
    }
}

.icon {
    display: inline-block;
    overflow: hidden;
    background-size: cover;

    &.icon-real-map {
        background-image: url("./real.png");
        width: 39px;
        height: 53px;
        position: relative;
        & > article{
            padding-top: 11px;
            transform: translateX(-1px);
            text-align: center;
            color: #4B81E9;
            font-size: 14px;
            line-height: 11px;
            font-style: normal;
        }
    }
    &.icon-start-map{
        background-image: url("./start.svg");
        width: 39px;
        height: 53px;
    }
    &.icon-end-map{
        background-image: url("./end.svg");
        width: 39px;
        height: 53px;
    }
    &.icon-monitor-map {
        background-image: url("./monitor.png");
        width: 22px;
        height: 22px;
    }

    &.icon-plan-map {
        background-image: url("./plan.png");
        width: 39px;
        height: 53px;
        position: relative;
        & > article{
            padding-top: 8px;
            transform: translateX(-1px);
            text-align: center;
            color: #e99052;
            font-size: 14px;
            font-style: normal;
        }
    }

    &.icon-check-map {
        background-image: url("./check.png");
        width: 39px;
        height: 53px;
    }

    &.icon-customer-map {
        background-image: url("./customer.png");
        width: 39px;
        height: 53px;
    }

    &.icon-stop-map {
        background-image: url("./stop.png");
        width: 39px;
        height: 53px;
    }
}
